@CHARSET "UTF-8";

.formtable{
	border-radius: 15px 50px;
    background: #C8C8C8 ;
    padding: 20px; 
    width: 30%;
    height: 50%; 
}

tr{
	border-bottom:1pt solid black;
}

table.formtable{
    border: 1px solid white;
    margin: 0px;
    text-align:center;
    vertical-align: middle !important;
}

body{
	background-color: #808080; 
}

[status="valid"]{
	color: green;
}

[status="invalid"]{
	color: red;
}

[status="none"]{
	color: black;
}
