@CHARSET "UTF-8";
body {
	background: rgb(226, 226, 226);
	font-family: cursive;
}

#menu{
	background: rgb(230, 230, 230);
/*  	border: 1px solid gray;  */
	border-radius: 10px;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
/* 	padding:10px 10px 30px 10px; */
}

#web_body{
	border:2px solid black;
	border-radius:10px;
	width:50%;
	margin:auto;
}
#regTable {
/* 	border: 1px solid gray; */
	border-radius: 10px;
	padding: 15px;
	margin: auto;
	width: 50%;
}

table {
	margin: auto;
}

thead td {
	text-align: center;
}

tfoot td {
	margin: auto;
	text-align: center;
}

h2 {
	text-align: center;
}

.warning {
	color: red;
	font-weight: bold;
}

label {
	display: inline-block;
	width: 10em;
}

.ui-tooltip {
	width: 25%;
}

#dialog-confirm {
	display: none;
}

#alreadyUser, #alreadyEmail {
	display: none;
	color: red;
}
.messageAfterReg {
	margin:auto;
	text-align: center;
}
</style>