/*
*    RESET
*/
*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

*:after,
*:before {
    box-sizing: border-box;
}

/*
*    GLOBAL
*/
html {
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

#container {
	overflow: auto;
	margin: auto;
	padding: 0.1em;
	width: 80%;
	border: 1px solid #10003B;
}

#topnav {
	width: 100%;
	background: #E6E6E6 none repeat scroll 0% 0%;
	vertical-align: middle;
}

#topleft {
    width: 70%;
    float: left;
	min-height: 1px;
}

#result {
	margin: auto;
	max-width: 400px;
	font-size: 24px;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.2em;
}

#topright {
	width: 30%;
	float: left;
	text-align: center;
	min-height: 1px;
}

#topright .menu {
	float: right;
}
	
#content {
	font-size: 1em;
	width: 100%;
	float: left;
}

.table-wrapper {
	width: 80%;
	margin: auto;
}

body {
    background-color: #f3f3f3;
    color: #545454;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.login-wrapper {
	max-width: 400px;
	margin: auto;
}

.ui-menu-item {
	display: inline-block;
}

.ui-menu {
	width: 10em;
	text-align: center;
}

/*
*    LOG-IN BOX
*/
div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

    div.overlay > div.login-wrapper {
        align-self: center;
        background-color: rgba(0,0,0,.25);
        border-radius: 2px;
        padding: 6px;
        width: 450px;
    }
    
        div.overlay > div.login-wrapper > div.login-content {
            background-color: rgb(255,255,255);
            border-radius: 2px;
            padding: 24px;    
            position: relative;
        }
        
            div.overlay > div.login-wrapper > div.login-content > h3 {
                color: rgb(0,0,0);
                font-family: 'Varela Round', sans-serif;
                font-size: 1.8em;
                margin: 0 0 1.25em;
                padding: 0;
            }
/*
*    FORM
*/
form label {
    color: rgb(0,0,0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;    
}

    form input[type="text"],
    form input[type="email"],
    form input[type="number"],
    form input[type="search"],
    form input[type="password"],
    form textarea {
        background-color: rgb(255,255,255);
        border: 1px solid rgb( 186, 186, 186 );
        border-radius: 1px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
        display: block;
        font-size: .65em;
        margin: 6px 0 12px 0;
        padding: .8em .55em;    
        text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
        transition: all 400ms ease;
        width: 90%;
    }
    
    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="number"]:focus,
    form input[type="search"]:focus,
    form input[type="password"]:focus,
    form textarea:focus,
    form select:focus { 
        border-color: #4195fc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    }
    
        form input[type="text"]:invalid:focus,
        form input[type="email"]:invalid:focus,
        form input[type="number"]:invalid:focus,
        form input[type="search"]:invalid:focus,
        form input[type="password"]:invalid:focus,
        form textarea:invalid:focus,
        form select:invalid:focus,
        form input.invalid { 
            border-color: rgb(248,66,66);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
        }
    
form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;    
}

    form button:hover {
        background-color: #1bc5b3;
        cursor: pointer;
    }
    
    
 .violationList {
	text-shadow: 0.1em 0.1em 0.2em;
	list-style: outside none none;
	font-size: 13px;
}