@CHARSET "UTF-8";
body{
	align : center;
	font-family: sans-serif;
	background-color: #ccc;
	
}
#uTable{
	align : center;
	text-align : center;
	border : 1px;
	border-radius: 15px;
	border-color: black;
	padding : 15px;
}

.warning{
	border-color: red;
	
}

input{
	width : 20em;
}
#subbut{
	width : 5em;
}

#uTableHead{
	font-size: 25px;
}