.tab {
	width: 450px;
	margin: 0 auto 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

form {
	font-family: 'roboto', sans-serif;
	width: 100%;
	margin: 0px auto 0px;
	color: #555;
	padding: 15px 25px 25px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

h2 {
	width: 100%;
	background: #03A9F4;
	padding: 20px;
	color: white;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px 3px 0 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.simple {
	float: left;
	font: inherit;
	font-size: 0.8em;
	width: 400px;
	display: block;
	border: none;
	margin-top: 10px;
	padding: 10px 0 10px;
	border-bottom: solid 1px #03A9F4;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

button {
	font-family: 'roboto', sans-serif;
	-webkit-transition: -webkit-transform 0.2s
		cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s
		cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow
		0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	border: none;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 400px;
	color: white;
	margin: 25px auto 0px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button.href {
	font-family: 'roboto', sans-serif;
	-webkit-transition: -webkit-transform 0.2s
		cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s
		cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow
		0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	border: none;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 100px;
	float: right;
	color: white;
	margin: 25px auto 0px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	color: white;
}

button:hover {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.left {
	float: left;
	width: 48%;
	margin-right: 4%;
	font: inherit;
	font-size: 0.8em;
	display: block;
	border: none;
	padding: 10px 0 10px;
	margin-top: 10px;
	border-bottom: solid 1px #03A9F4;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.right {
	margin-top: 10px;
	float: left;
	font: inherit;
	font-size: 0.8em;
	width: 48%;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px #03A9F4;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.leftDate {
	float: left;
	width: 30%;
	margin-top: 10px;
	font: inherit;
	font-size: 0.8em;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px #03A9F4;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.centerDate {
	float: left;
	width: 32%;
	margin: 10px 4% 0;
	font: inherit;
	font-size: 0.8em;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px #03A9F4;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.rightDate {
	margin-top: 10px;
	float: left;
	font: inherit;
	font-size: 0.8em;
	width: 30%;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px #03A9F4;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#03A9F4 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font: inherit;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, font-size 0.3s
		ease-in-out, visibility 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
	{
	color: #03A9F4;
}

input:focus, input:valid, textarea:focus, textarea:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
	textarea:focus::-webkit-input-placeholder, textarea:valid::-webkit-input-placeholder
	{
	font-size: 0.8em;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	visibility: visible !important;
	opacity: 1;
}

.message {
	font-family: 'roboto', sans-serif;
	-webkit-transition: -webkit-transform 0.2s
		cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s
		cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow
		0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	border: none;
	background: #F44336;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 400px;
	color: white;
	margin: 25px auto 0px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.simple.error {
	float: left;
	font: inherit;
	font-size: 0.8em;
	width: 400px;
	display: block;
	border: none;
	margin-top: 10px;
	padding: 10px 0 10px;
	border-bottom: solid 1px red;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red
		4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red
		4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.left.error {
	float: left;
	width: 48%;
	margin-right: 4%;
	font: inherit;
	font-size: 0.8em;
	display: block;
	border: none;
	padding: 10px 0 10px;
	margin-top: 10px;
	border-bottom: solid 1px red;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red
		4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red
		4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.right.error {
	margin-top: 10px;
	float: left;
	font: inherit;
	font-size: 0.8em;
	width: 48%;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px red;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red
		4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red
		4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.leftDate.error {
	float: left;
	width: 30%;
	margin-top: 10px;
	font: inherit;
	font-size: 0.8em;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px red;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red
		4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red
		4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.centerDate.error {
	float: left;
	width: 32%;
	margin: 10px 4% 0;
	font: inherit;
	font-size: 0.8em;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px red;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red
		4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red
		4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

.rightDate.error {
	margin-top: 10px;
	float: left;
	font: inherit;
	font-size: 0.8em;
	width: 30%;
	display: block;
	border: none;
	padding: 10px 0 10px;
	border-bottom: solid 1px red;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, red
		4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red
		4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}

input.error::-webkit-input-placeholder, textarea::-webkit-input-placeholder
	{
	font: inherit;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, font-size 0.3s
		ease-in-out, visibility 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

input.error:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
	{
	color: red;
}

input.error:focus, input:valid, textarea:focus, textarea:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

input.error:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
	textarea:focus::-webkit-input-placeholder, textarea:valid::-webkit-input-placeholder
	{
	font-size: 0.8em;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	visibility: visible !important;
	opacity: 1;
}

#success {
	font-size: 2em;
	color: #5cbf2a; padding : 20px;
	margin: auto;
	align: center;
	width: 450px;
	padding: 20px; margin : auto; align : center; width : 450px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}