@CHARSET "UTF-8";

.formtable {
	margin: auto;
	border-radius: 15px 50px;
	background: #C8C8C8;
	padding: 20px;
	width: 30%;
	height: 50%;
	border: collapse;
}

h1 {
	text-align: center;
}

table.formtable {
	border: 1px solid white;
}

table.formtable>td {
	border-radius: 15px 50px;
}

body {
	background-color: #808080;
}

td {
	text-align: center;
	border-collapse: collapse;
}

table.formtable>thead>th {
	color: white;
	font-size: 40;
	font-weight: bold;
}

#dialog-message>img {
	align: center;
}